@model IEnumerable<WebStoreProject.Models.Product>

<a asp-controller="Home" asp-action="Index">На главную</a>

@foreach (var item in Model)
    {
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-text">@item.Price</p>
                <a class="btn btn-primary">Подробно</a>
            </div>
        </div>
    }